.moderatorDashboard {
    display: flex; /* Use flexbox for layout */
    background-color: #dfdbdb;
    color: white;
    padding: 20px;
    border-radius: 4px;
    height: 100vh; /* Full height */
}

.sidebar {
    width: 350px;
    padding: 30px;
    background-color: #dfdbdb;
    border-right: 1px solid #ddd;
    margin: 3px 30px;
    color: #2d2a83;
    font-weight: bolder;
}

h1 {
    color: black;
    margin-top: 50px;
    margin-left: 60px;
}

h2 {
    color: black;
    margin-top: 50px;
}

.content {
    flex: 1; 
    padding: 20px; /* Padding for content area */
}

.requestAdminAssistanceButton {
    background-color: #19646b;
    color: white;
    border: none;
    padding: 25px 15px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    margin-top: -40px;
    margin-right: 150px;
    font-weight: bolder;
}

.flaggedPostsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.flaggedPostsTable th {
    background-color: #878b8b;
}

.flaggedPostsTable th,
.flaggedPostsTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    color: black;
}

.actionButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bolder;
}

#Warning{
    background-color: #dae078;
    color: black;
}


#Suspend{
    background-color: #794a17;
}

#Dismiss{
    background-color: #67dea6;
    color: black;
}
