.admin-dashboard {
    padding: 20px;
    
}

.admin-dashboard h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 40px;
}

.dashboard-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.section {
    background-color: #19646b;
    color: white;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 8px;
}

.linking {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

@media (max-width: 768px) {
    .dashboard-sections {
        grid-template-columns: 1fr;
    }

    .section {
        height: 120px;
        font-size: 1em;
    }

    .admin-dashboard h1 {
        font-size: 1.5em;
        text-align: center;
    }
}
