

.content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 90%;

}

.requestAdminAssistanceButton {
    background-color: #19646b;
    color: white;
    border: none;
    padding: 25px 15px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    margin-top: -40px;
    margin-right: 150px;
    font-weight: bolder;
}

.user-management-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .admin-dashboard-button {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
  } 
  
  .user-table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .user-requests-table {
    width: 80%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }
  
  .user-requests-table th,
  .user-requests-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-requests-table th {
    background-color: #014F86;
    color: white;
    font-weight: bold;
  }
  
  .user-requests-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .create-account-button {
    margin-left: 50px;
    background-color: #013A63;
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .edit-button,
  .suspend-button,
  .delete-button,
  .restore-button, .save-button {
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    font-weight: 600;
    width: 80px;
  }
  
  .edit-button {
    background-color: #19646b;
  }
  
  .suspend-button {
    background-color: #d75e1c;
  }
  
  .delete-button {
    background-color: #d82626;
  }
  
  .restore-button {
    background-color: #193a6b;
  }
  
  .save-button{
    background-color: #013A63;
  }
  
  .edit-button:hover {
    background-color: #134b50;
  }
  
  .suspend-button:hover {
    background-color: #944215;
  }
  
  .delete-button:hover {
    background-color: #941c1c;
  }
  
  .restore-button:hover {
    background-color: #235298;
  }
  
  .save-button:hover{
    background-color: #1c4a6a;
  }
  
  .new-input {
    height: 20px;
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px gray;
    margin-top: 10px ;
    margin-right: 10px;
  }