body {
    background-color: rgb(237, 234, 234);
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    margin-top: 30px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    margin-top: 30px;
}

.home-container,
.home-form {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home-heading {
    color: #0a66c2;
}

.home-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.home-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: solid 1px gray;
    width: 70%;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.home-form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: solid 1px gray;
    width: 30%;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: 35%;
}

.home-input {
    height: 20px;
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px gray;
}

.home-login-button {
    width: 60%;
    padding: 15px;
    background-color: #2A6F97;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.home-forgot-password {
    color: rgb(60, 60, 236);
}

.home-create-account-button {
    width: 60%;
    padding: 15px;
    background-color: #01497C;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.home-create-account-button2 {
    width: 60%;
    padding: 20px;
    background-color: #01497C;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 30px;
    background-color: white;
    font-size: large;
    height: 100px;
    width: 96vw;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-size: large;
    transition: color 0.3s;
    padding: 30px 40px;
}

.nav-item:hover {
    background-color: #769db8;
    padding: 30px 40px;
    color: black;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}


.btnSignOut {
    background-color: #013A63;
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.btn-user-profile {
    background-color: #2A6F97;
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.create-event-input {
    height: 20px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px gray;
    margin-right: 20px;
}

.create-event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: solid 1px gray;
    width: 80%;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.create-event {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-event-input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.create-event-label {
    height: 20px;
    padding: 5px;
}

.create-event-textarea {
    width: 500px;
}

.create-event-button {
    width: 30%;
    padding: 15px;
    background-color: #01497C;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 16px;
}


.create-event-button .links {
    color: #fff;
    text-decoration: none;
}

.moderator-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-management-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    align-items: center;
}

.user-management-table {
    border: 1px solid black;
    padding: 20px;
    background-color: white;
}

.admin-dashboard-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-account-button {
    margin-left: 50px;
    background-color: #013A63;
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}


.homeuser-container {
    display: flex;
    flex-direction: column;
    width: 98vw;
    margin: 0 auto;
    box-sizing: border-box;
}

.homeuser-navbar-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100vw;
}

/* .search-bar {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
} */

.search-bar {
    margin: 10px 30px;
    padding: 8px 12px;
    width: 100%;
    max-width: 800px;
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 50px;
}




.homeuser-content {
    display: flex;
    gap: 20px;
    width: 96vw;
}

.homeuser-choose-options,
.Home_Notification {
    flex: 1;
    max-width: 200px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.home-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.event-feed {
    flex: 2;
    background-color: #f9f9f9;
    border-radius: 8px;
    border-radius: 8px;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
}

.event-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.event-card {
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.event-card img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.homeuser-choose-options label,
.Home_Notification ul {
    margin-bottom: 10px;

}


.moderator-dashboard {
    background-color: #111c32;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    max-width: 400px;
    width: 180px;
}

.notifications h3 {
    margin-bottom: 10px;
}


.links {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

.notifications {
    padding: 15px;
    border-radius: 4px;
    width: 25px;
}

.notifications h3 {
    background-color: #111c32;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    max-width: 400px;
    width: 180px;
    margin-bottom: -18px;
}

.notifications ul {
    list-style: none;
    padding: 0;
}

.notifications li {
    background-color: white;
    color: #333;
    padding: 10px;
    font-size: 14px;
    border: 1px solid black;
    max-width: 400px;
    width: 180px;
}

.Home_Notification {
    width: 100%;
}

@media (max-width: 768px) {

    .home-container,
    .home-form {
        grid-column: span 12;
    }
}

.like_btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 15px 7px;
    border-radius: 10px;
    font-weight: bolder;
}

/* ------css to comment part */
.comment_btn {
    color: white;
    background-color: black;
    padding: 10px;
    margin: 15px 7px;
    border-radius: 10px;
    font-weight: bolder;
}

.post_btn {
    color: white;
    background-color: rgb(87, 212, 93);
    padding: 10px;
    margin: 7px;
    border-radius: 20px;
    font-weight: bolder;
    border: none;
}

.post_btn:hover {
    background-color: rgb(73, 183, 79);

}

.add-comment textarea {
    max-width: 800%;
    width: 90%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #eeebeb;
}

.comments-list {
    margin-top: 20px;
    max-width: 600px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
}


.comment:hover {
    background-color: #efeaeae3;
    border-radius: 8px;
}

.comment p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    color: #585555;
}

.comment strong {
    font-weight: bold;
    color: #19646b;
}

.comments-list p {
    font-size: 16px;
    color: #484444;
    margin-top: 20px;
    font-size: medium;
}

/* -------------EventDetails */



h1 {
    text-align: center;
}

.column-date {
    margin-left: 65%;
    margin-right: 15%;
}

.main-containered {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    

}

.container1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 60%;
}

.container2 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;


}

.container3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 50%;
}

.container4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.container6 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    margin-top: 5%;
    padding: 5px;


}

.container5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

}

.container7 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;

}

.event-by {
    margin-right: 12%;
    margin-left: 5%;
    justify-content: space-between;
}

.date,
.attend-checkbox {
    margin-right: 12%;
    margin-left: 5%;
    justify-content: space-between;

}

.request-assistance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #f7f7f7; 
    border-radius: 8px;
}

.request-assistance-container label {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.request-assistance-container .request-textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}

.request-assistance-container button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #19646b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.request-assistance-container button:hover {
    background-color: #145354;
}



.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.requests-table {
    width: 80%; 
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.requests-table th,
.requests-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.requests-table th {
    background-color: #014F86;
    color: white;
    font-weight: bold;
}

.requests-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.solved-button {
    padding: 6px 12px;
    margin: 0 5px;
    color: white;
    background-color: #19646b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dismiss-button{
    padding: 6px 12px;
    margin: 0 5px;
    color: white;
    background-color: rgb(145, 42, 37);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.requests-table button:hover {
    background-color: #145354;
}


/* ---Notification button----- */

.notif_viwedbtn{
    margin: 15px 50px;
    background-color: rgb(7, 7, 39);
    color: white;
    padding: 8px;
font-weight: bolder;}